<mat-card>
    <mat-card-title>Excluir Game </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name"  [attr.disabled]="true" readonly>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price"  [attr.disabled]="true" readonly>
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="deleteProduct()" color="accent">
    Excluir
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>
